/* Font Loading */
@font-face {
    font-family: 'SourGummy';
    src: url('sourgummyfont.ttf') format('truetype');
}

/* General Body */
html, body {
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'SourGummy', Arial, sans-serif;
}

/* Video Background */
.video-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Prevent cropping, scale down while keeping aspect ratio */
    max-width: 100vw;
    max-height: 100vh;
    z-index: -1;
    pointer-events: none;
}

/* Rotate Message */
#rotateMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    text-align: center;
    display: none; /* Initially hidden */
    z-index: 1;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 767px) {
    #rotateMessage {
        font-size: 1.5rem; /* Smaller font size for mobile */
    }
}

/* Media Query for Tablet Devices */
@media only screen and (max-width: 1024px) {
    #rotateMessage {
        font-size: 1.75rem; /* Adjust font size for tablets */
    }
}
